<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <title>URL Shortner Project</title>
  </head>
  <body>
    <div class="container-fluid h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-5">
          <h1>Login</h1>
          <form action="/api/v1/users/login" method="POST" class="my-4 form">
            <div class="form-group">
              <input
                required
                placeholder="Username"
                type="text"
                name="username"
                id="username"
                class="form-control col"
              />
            </div>
            <div class="form-group">
              <input
                required
                placeholder="Password"
                type="password"
                name="password"
                id="password"
                class="form-control col"
              />
            </div>
            <div class="form-group">
              <button class="btn btn-success mt-2" type="submit">Login</button>
              <a class="btn-sm btn-info mt-3 float-right" href="/register">Register</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
